@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Converting hex to RGB values for Tailwind opacity support */
  --primary: 32 156 233;
  /* #209CE9 - Light blue */
  --secondary: 32 32 76;
  /* #20204c - Navy blue */
  --surface: 244 250 255;
  /* #f4faff - White */
  --accent: 239 100 97;
  /* #ef6461 - Coral */
  --neutral: 101 101 94;
  /* #65655e - Gray */
}

@layer base {
  .font-high-tide {
    font-family: "High Tide", sans-serif;
  }
}

body {
  margin: 0;
  font-family:
    "Open Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-section {
  min-height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@font-face {
  font-family: "High Tide";
  src: url("/high_tide_bold_400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
